<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="../static/img/favicon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>dytila</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" />
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../static/scripts/vegas/jquery.vegas.min.css" rel="stylesheet" />
    <link href="../static/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="../static/css/style.css" rel="stylesheet" />
    <link href="../static/css/admin_style.css" rel="stylesheet" />
    <script src="../static/js/jquery-1.12.3.js"></script>
    <script src="../static/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
          $('#admin_table').DataTable();
        } );
    </script>
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Ruluko' rel='stylesheet' type='text/css' />
    <style type="text/css">
        body{
            background-color: #FCDFFF;
        }
        .admin_wrapper{
            width: 95%;
            margin: auto;
        }
    </style>
</head>
<body>
    <!-- Navigation -->
    <div id="navbar">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="margin-left:0;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Dytila <span class="beta">BETA</span></a>
            </div>
            <!-- Collect the nav links for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="glow" href="/">HOME</a></li>
                    {% if result['loggedIn'] %}
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ result['user']['full_name']+" "+result['user']["last_name"] }}<span class="caret"></span></a>
                              <ul class="dropdown-menu" id="dropdown-menu">
                                <li><a href="/viewOrders">View Orders</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/auth/logout">Logout</a></li>
                              </ul>
                            </li>
                    {% end %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    </div>
    <!--End Navigation -->

    <div class="content admin">
        <div class="admin_wrapper">
            <div class="row">
                <div class="col-md-12" style="padding-bottom:0;">
                    
                             <h2 class="text-center">Admin Section</h2>
                             
                </div>
            </div>
            <div class="row tabs">
                <div class="col-md-12" style="padding-top:0;padding-bottom:0;">
                    <ul class="options">
                    {% if (result['user']['full_name']=='chandni' and result['user']['last_name']=='chowk')%}
                        <li><a href="/viewOrders">Orders</a></li>
                        <li><a href="/bills">Bill</a></li>
                        <li><a href="/regular">Regular</a></li>
                        <li><a href="/add_order">New Order</a></li>
                        <li><a href="/admin_meal_info">Meal Info</a></li>
                    {% else %}
                        <li><a href="/accounts">Accounts</a></li>
                        <li><a href="/viewOrders">Orders</a></li>
                        <li><a href="/bills">Bill</a></li>
                        <li><a href="/admin_food">Foods</a></li>
                        <li><a href="/regular">Regular</a></li>
                        <li><a href="/add_order">New Order</a></li>
                        <li><a href="/admin_meal_info">Meal Info</a></li>
                    {% end %}
                    </ul>
                </div>
            </div>
            <div class="row admin_body">
                <div class="col-md-12" style="padding-top:0;margin-bottom:100px;">
                    <div class="content_main">
                             <div class="row">
                                 <div class="col-md-12">
                                     <table class="admin_table" id="admin_table">
                                         <thead>
                                             <tr>
                                                 <th>Food Name</th>
                                                 <th>Price</th>
                                                 <th>Food Type</th>
                                                 <th>Protein (grams)</th>
                                                 <th>Carbohydatres (grams)</th>
                                                 <th>Fats (grams)</th>
                                                 <th>Calories (Kcal)</th>
                                                 
                                             </tr>
                                         </thead>
                                         <tbody>
                                         {% for food in foods %}
                                            
                                                 <tr>
                                                     <td style="width:300px;">{{ food['food_name'] }}</td>   
                                                     <td style="width:300px;">{{ food['price'] }}</td>   
                                                     <td style="width:30px;">{{ food['food_type'] }}</td>
                                                     <td style="width:30px;">{{ food['macros']['protein'] }}</td>
                                                     <td style="width:30px;">{{ food['macros']['carbohydrates'] }}</td>
                                                     <td style="width:30px;">{{ food['macros']['fats'] }}</td>
                                                     <td style="width:30px;">{{ food['macros']['calories'] }}</td>
                                                 </tr>
                                            
                                        {% end %}
                                         </tbody>
                                     </table>
                                 </div>
                             </div>
                    </div>
                </div>
            </div>
        </div>     

    </div>
    
    
    <!--End Contact Section -->
    
   <!--footer Section -->
    <div class="for-full-back" id="footer">
        <div class="row">
            <div class="col-md-6">
                <a href="/terms_privacy"><h4 class="tncp text-center">Terms and Condition / Privacy Policy</h4></a>        
            </div>
            <div class="col-md-6">
                <h4 style="margin:0;padding:0;" class="text-center">&copy; 2016 dytila | All Rights Reserved</h4>        
            </div>
        </div>    
    </div>
    <!--End footer Section -->
    
    <!-- CORE JQUERY  -->
    
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="../static/plugins/bootstrap.js"></script>

</body>
</html>
