<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="../static/img/favicon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>dytila</title>
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" />
    <!-- VEGAS STYLE CSS -->
    <link href="../static/scripts/vegas/jquery.vegas.min.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="../static/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="../static/css/style.css" rel="stylesheet" />
    <link href="../static/css/admin_style.css" rel="stylesheet" />
    <script src="../static/js/jquery-1.12.3.js"></script>
    <script src="../static/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
          $('#user_details_table').DataTable();
        } );
    </script>
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Ruluko' rel='stylesheet' type='text/css' />
    <style type="text/css">
        body{
            background-color: #FCDFFF;
        }
        td{
            padding:5px;
        }
        .user_img{
            width: 200px;
            height: 220px;
            border:1px solid #d30707;
            border-radius: 10px;
        }
        #can_change{
            padding: 5px;
            width: 200px;
        }
    </style>
</head>
<body>
    <!-- Navigation -->
    <div id="navbar">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="margin-left:0;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Dytila <span class="beta">BETA</span></a>
            </div>
            <!-- Collect the nav links for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="glow" href="/">HOME</a></li>
                    {% if result['loggedIn'] %}
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ result['user']['full_name']+" "+result['user']["last_name"] }}<span class="caret"></span></a>
                              <ul class="dropdown-menu" id="dropdown-menu">
                                <li><a href="/viewOrders">View Orders</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/auth/logout">Logout</a></li>
                              </ul>
                            </li>
                    {% end %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    </div>
    <!--End Navigation -->

    <div class="content admin">
        <div class="admin_wrapper">
            <div class="row">
                <div class="col-md-12" style="padding-bottom:0;">
                    
                             <h2 class="text-center">Admin Section</h2>
                             
                </div>
            </div>
            <div class="row tabs">
                <div class="col-md-12" style="padding-top:0;padding-bottom:0;">
                    <ul class="options">
                    {% if (result['user']['full_name']=='chandni' and result['user']['last_name']=='chowk')%}
                        <li><a href="/viewOrders">Orders</a></li>
                        <li><a href="/bills">Bill</a></li>
                        <li><a href="/regular">Regular</a></li>
                        <li><a href="/add_order">New Order</a></li>
                    {% else %}
                        <li><a href="/accounts">Accounts</a></li>
                        <li><a href="/viewOrders">Orders</a></li>
                        <li><a href="/bills">Bill</a></li>
                        <li><a href="">Foods</a></li>
                        <li><a href="/regular">Regular</a></li>
                        <li><a href="/add_order">New Order</a></li>
                    {% end %}
                    </ul>
                </div>
            </div>
            <div class="row user_details_body">
                <div class="col-md-12" style="padding-top:0;margin-bottom:100px;">
                    <div class="content_main">
                             <div class="row">
                                <div class="col-md-7">
                                    <form action="/user_bill" method="post">
                                    {% if (result['user']['full_name']=='chandni' and result['user']['last_name']=='chowk')%}
                                    <table class="user_details_table">
                                         <tbody>
                                             <tr>
                                                 <td><label>Customer Name</label></td>
                                                 <td>:</td>
                                                 <td>{{ customer_order_data['user_name'] }}</td>
                                             </tr>
                                             <tr>
                                                 <td><label>Customer ID</label></td>
                                                 <td>:</td>
                                                 <td>{{ customer_order_data['user_id'] }}</td>
                                             </tr>
                                             <tr>
                                                 <td><label>Order ID</label></td>
                                                 <td>:</td>
                                                 <td>{{ customer_order_data['_id'] }}</td>
                                             </tr>
                                             <tr>
                                                 <td><label>Food Ordered</label></td>
                                                 <td>:</td>
                                                 <td>{{ customer_order_data['food_name'] }}
                                                 <input id="can_change" type="text" name="food" value="{{ customer_order_data['food_name'] }}" hidden></td>
                                             </tr>
                                             <tr>
                                                 <td><label>Email Id</label></td>
                                                 <td>:</td>
                                                 <td>{{ customer_data['email'] }}
                                                 <input id="can_change" type="text" name="mail" value="{{ customer_data['email'] }}" hidden></td>
                                             </tr>
                                             <tr>
                                                 <td><label>Mobile</label></td>
                                                 <td>:</td>
                                                 <td>{{ customer_data['mobile'] }}
                                                 <input id="can_change" type="text" name="mobile" value="{{ customer_data['mobile'] }}" hidden></td>
                                             </tr>
                                             <tr>
                                                 <td><label>Total Meal Freq. (per month)</label></td>
                                                 <td>:</td>
                                                 <td>{{ customer_order_data['Tmeal_freq'] }}
                                                 <input id="can_change" type="text" name="Tmeal_freq" value="{{ customer_order_data['Tmeal_freq'] }}" hidden></td>
                                             </tr>
                                             <tr>
                                                 <td><label>Meals remaining</label></td>
                                                 <td>:</td>
                                                 <td>{{ customer_order_data['meal_freq'] }}
                                                 <input id="can_change" type="text" name="meal_freq" value="{{ customer_order_data['meal_freq'] }}" hidden></td>
                                             </tr>
                                             <tr>
                                                 <td><label>Collect Time</label></td>
                                                 <td>:</td>
                                                 <td>{{ customer_order_data['time'] }}
                                                 <input id="can_change" type="text" name="timing" value="{{ customer_order_data['time'] }}" hidden></td>
                                             </tr>
                                             <tr>
                                                 <td><label>Delivery Location</label></td>
                                                 <td>:</td>
                                                 <td>{{ customer_order_data['location'] }}
                                                 <input id="can_change" type="text" name="location" value="{{ customer_order_data['location'] }}" hidden></td>
                                             </tr>
                                             <tr>
                                                 <td><label>User Img</label></td>
                                                 <td>:</td>
                                                 <td>{{ customer_order_data['user_img'] }}
                                                 <input id="can_change" type="text" name="img" value="{{ customer_order_data['user_img'] }}" hidden></td>
                                             </tr>
                                         </tbody>
                                     </table>
                                    {% else %}
                                    <table class="user_details_table">
                                         <tbody>
                                             <tr>
                                                 <td><label>Customer Name</label></td>
                                                 <td>:</td>
                                                 <td>{{ customer_order_data['user_name'] }}</td>
                                             </tr>
                                             <tr>
                                                 <td><label>Customer ID</label></td>
                                                 <td>:</td>
                                                 <td>{{ customer_order_data['user_id'] }}</td>
                                             </tr>
                                             <tr>
                                                 <td><label>Order ID</label></td>
                                                 <td>:</td>
                                                 <td>{{ customer_order_data['_id'] }}</td>
                                             </tr>
                                             <tr>
                                                 <td><label>Food Ordered</label></td>
                                                 <td>:</td>
                                                 <td><input id="can_change" type="text" name="food" value="{{ customer_order_data['food_name'] }}"></td>
                                             </tr>
                                             <tr>
                                                 <td><label>Email Id</label></td>
                                                 <td>:</td>
                                                 <td><input id="can_change" type="text" name="mail" value="{{ customer_data['email'] }}"></td>
                                             </tr>
                                             <tr>
                                                 <td><label>Mobile</label></td>
                                                 <td>:</td>
                                                 <td><input id="can_change" type="text" name="mobile" value="{{ customer_data['mobile'] }}"></td>
                                             </tr>
                                             <tr>
                                                 <td><label>Total Meal Freq. (per month)</label></td>
                                                 <td>:</td>
                                                 <td><input id="can_change" type="text" name="Tmeal_freq" value="{{ customer_order_data['Tmeal_freq'] }}"></td>
                                             </tr>
                                             <tr>
                                                 <td><label>Meals remaining</label></td>
                                                 <td>:</td>
                                                 <td><input id="can_change" type="text" name="meal_freq" value="{{ customer_order_data['meal_freq'] }}"></td>
                                             </tr>
                                             <tr>
                                                 <td><label>Collect Time</label></td>
                                                 <td>:</td>
                                                 <td><input id="can_change" type="text" name="timing" value="{{ customer_order_data['time'] }}"></td>
                                             </tr>
                                             <tr>
                                                 <td><label>Delivery Location</label></td>
                                                 <td>:</td>
                                                 <td><input id="can_change" type="text" name="location" value="{{ customer_order_data['location'] }}"></td>
                                             </tr>
                                             <tr>
                                                 <td><label>User Img</label></td>
                                                 <td>:</td>
                                                 <td><input id="can_change" type="text" name="img" value="{{ customer_order_data['user_img'] }}"></td>
                                             </tr>
                                         </tbody>
                                     </table>
                                     {% end %}
                                     <div class="row">
                                         <div class="col-md-12">
                                            
                                                <input type="text" name="order_id" value="{{ customer_order_data['_id'] }}" hidden>
                                                <input id="button" type="submit" name="generate" value="Make Bill" class="submit_button">
                                             </form>        
                                         </div>
                                     </div>
                                     
                                </div>
                                <div class="col-md-3 pull-right">
                                    <img src="../static/img/customer_img/{{ customer_order_data['user_img'] }}" class="user_img">
                                </div>
                             </div>
                    </div>
                </div>
            </div>
        </div>     

    </div>
    
    
    <!--End Contact Section -->
    
   <!--footer Section -->
    <div class="for-full-back" id="footer">
        <div class="row">
            <div class="col-md-6">
                <a href="/terms_privacy"><h4 class="tncp text-center">Terms and Condition / Privacy Policy</h4></a>        
            </div>
            <div class="col-md-6">
                <h4 style="margin:0;padding:0;" class="text-center">&copy; 2016 dytila | All Rights Reserved</h4>        
            </div>
        </div>    
    </div>
    <!--End footer Section -->
    
    <!-- CORE JQUERY  -->
    
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="../static/plugins/bootstrap.js"></script>

</body>
</html>
