<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="../static/img/favicon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Dytila</title>
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="static/css/font-awesome.min.css" rel="stylesheet" />
    <!-- VEGAS STYLE CSS -->
    <link href="static/plugins/vegas/jquery.vegas.min.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Ruluko' rel='stylesheet' type='text/css' />
    <!-- CUSTOM STYLE CSS -->
    <link href="static/css/style.css" rel="stylesheet" /> 
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/log_style_login.css">
    <link rel="stylesheet" href="static/css/animate.css">    
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="position:fixed;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Dytila <span class="beta">BETA</span></a>
                </div>
                 <!-- Collect the nav links for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="glow" href="/">HOME</a></li>
                        <li><a href="#"><strong>E-mail: </strong> dytilanutrition@gmail.com</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!--End Navigation -->

    <div class="content">
        <div class="row faq_section">
            
            <div class="row faq_content faq_heading">
                <h2 class="text-center" id="faq_main_head">FAQ Section</h2>
            </div>
            
            <div class="row faq_content">
                <div class="col-md-8 faq_body">
                    <article>
                        <h4 class="faq_head"><strong>Some Frequently Asked Questions</strong></h4>
                        <dl>
                            <dt>what is Body Fat percentage? How do I calculate it?</dt>
                            <dd>Your body fat percentage (BFP) is your total mass of fat divided by total bodymass; body fat includes essentialbody fat and storage body fat. It is a more reliable method than Body Mass Index (BMI) since it relies on relative adiposity( fat content) and not your height and weight.
                            <br><a href="http://www.active.com/fitness/calculators/bodyfat" target="_blank">Calculate your body fat percentage.</a>
                            </dd>

                            <dt>What is Macros?</dt>
                            <dd>In simple words, macros consists of the following- carbs, proteins and fats. How you take them in your day to day life shapes up a major part if determining your physique.We provide you the perfect combination of macros depending on your goals.</dd>

                            <dt>How do I make my restaurant a Dytila kitchen?</dt>
                            <dd>Interested? We would love to have you become a part of our family! Kindly contact us and we will do the rest.</dd>

                            <dt>How Dytila ensures that my food is 100℅ fresh?</dt>
                            <dd>First of all we would like you to know that we exist so that you have optimal satisfaction. We have order placement timings just because we want your meal to be fresh when you receive it. Our ingredients are handpicked on the same day as the food is being prepared</dd>

                            <dt>How monthly plan is better than regular plan?</dt>
                            <dd>We need to ensure freshness and you make our jobs easier by pre ordering your meals. So we would love to help you back! Monthly meal offers are provided with free smoothies and chance to get our premium pack offers.</dd>

                            <dt>What is 'Add this for WEEK PLAN'</dt>
                            <dd>When you tick the checkbox name 'Add this for WEEK PLAN', you will get that meal for a week i.e., 1 meal per day for 1 week. If you want to renew that meal you can again go to that meal and can order again.</dd>
                        </dl>
                    </article>
                </div>
                <div class="col-md-3 faq_extra">
                    <h4 class="faq_head text-center"><strong>Want to ask us question ?</strong></h4>
                    <p>You can ask any question just by clicking ask us button and give your query to us!</p>
                    <center>
                        <a href="#" id="ask_us_button">Ask Us</a>
                    </center>
                </div>
            </div>
            <hr class="divider" style="margin-top:60px;margin-bottom:60px;">
        </div>

    </div>

    
    <!--footer Section -->
    <div class="for-full-back" id="footer">
        <div class="row">
            <div class="col-md-6">
                <a href="/terms_privacy"><h4 class="tncp text-center">Terms and Condition / Privacy Policy</h4></a>        
            </div>
            <div class="col-md-6">
                <h4 style="margin:0;padding:0;" class="text-center">&copy; 2016 dytila | All Rights Reserved</h4>                
            </div>
        </div>
        
        
    </div>
    <!--End footer Section -->

    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="static/plugins/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="static/plugins/bootstrap.js"></script>
    <!-- VEGAS SLIDESHOW SCRIPTS -->
    <script src="static/plugins/vegas/jquery.vegas.min.js"></script>
    <script src="static/plugins/jquery.desifood-1.1.3.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="static/js/custom.js"></script>
    
    
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src="static/js/index.js"></script>   
        <script type="text/javascript">
          $(document).ready(function () {
            if(window.location.href.indexOf("false") > -1) 
            {
                 alert("Email or Password is incorrect!");
            }
        });
        </script>
        <script type="text/javascript">
            $(document).ready(function(){
                $("dl").on('click','dt',function(){
                    $(this).next().slideDown(200).siblings("dd").slideUp(200);
                });
            });
        </script>
</body>
</html>