<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Dytila</title>
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="static/css/font-awesome.min.css" rel="stylesheet" />
    <!-- VEGAS STYLE CSS -->
    <link href="static/plugins/vegas/jquery.vegas.min.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Ruluko' rel='stylesheet' type='text/css' />
    <!-- CUSTOM STYLE CSS -->
    <link href="static/css/style.css" rel="stylesheet" /> 
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/log_style_login.css">
    <link rel="stylesheet" href="static/css/animate.css">    
    
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="position:fixed;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">dytila</a>
            </div>
            <!-- Collect the nav links for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="glow" href="#about">ABOUT US</a></li>
                    <li><a class="glow" href="#price-sec">PRICING</a></li>
                    <li><a class="glow" href="#contact-sec">CONTACT</a></li>
                    <li><a class="glow" href="/faq">FAQ</a></li>
                    <li><a class="glow" href="/team">MEET THE TEAM</a></li>
                    <li><a class="glow" href="/custom_plans">COUSTOM MEALS</a></li>
                    {% if result['loggedIn'] %}
                        {% if result['user']['full_name']=='dytila' and result['user']['last_name']=='nutrition' %}
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ result['user']['full_name']+" "+result['user']["last_name"] }}<span class="caret"></span></a>
                              <ul class="dropdown-menu" id="dropdown-menu">
                                <li><a href="/viewOrders">View Orders</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/auth/logout">Logout</a></li>
                              </ul>
                            </li>
                        {% else %}                            
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ result['user']['full_name']+" "+result['user']["last_name"] }}<span class="caret"></span></a>
                              <ul class="dropdown-menu" id="dropdown-menu">
                                <li><a href="/profile">Profile</a></li>
                                <li><a href="/recent_orders">Your orders</a></li>
                                <li><a href="/cart">Cart</a></li>
                                <li><a href="/chat_with_dietitian">Chat with Dietitian</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/auth/logout">Logout</a></li>
                              </ul>
                            </li>
                        {% end %}

                    {% end %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!--End Navigation -->


    <!--Header section  -->
    <div  id="home">
        <div class="row text-center">
            <div class="col-md-12">
                <label style="margin-top:150px;color:#fff;font-size:100px;">Dytila</label>
                <h2 class="head-sub-main">Dieting has never been this delicious</h2>
                {% if not result['loggedIn'] %}
                    <a class="btn btn-default btn-lg" id="button" data-toggle="modal" data-target="#log">Login </a>
                {% end %}
                {% if result['loggedIn'] %}
                    <a href="/macro_cal" id="button" class="btn btn-success btn-lg">Get Started</a>
                {% end %}
                    <div class="modal fade" id="log">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                     <div class="login_form form"  style="background-color:rgba(19, 35, 47, 0.6);">
      
                                          <ul class="tab-group">
                                            <li class="tab active"><a href="#signup">Sign Up</a></li>
                                            <li class="tab"><a href="#login">Log In</a></li>
                                          </ul>
                                          
                                          <div class="tab-content">
                                            <div id="signup">   
                                              <h1>Sign Up for Free</h1>
                                              
                                              <form action="/auth/register" method="post">
                                              
                                              <div class="top-row">
                                                <div class="field-wrap">
                                                  <label>
                                                    First Name<span class="req">*</span>
                                                  </label>
                                                  <input type="text" name="fname" required autocomplete="off" />
                                                </div>
                                            
                                                <div class="field-wrap">
                                                  <label>
                                                    Last Name<span class="req">*</span>
                                                  </label>
                                                  <input type="text" name="lname" required autocomplete="off"/>
                                                </div>
                                              </div>

                                              <div class="field-wrap">
                                                <label>
                                                  Email Address<span class="req">*</span>
                                                </label>
                                                <input type="email" name="email" required autocomplete="off"/>
                                              </div>
                                              
                                              <div class="field-wrap">
                                                <label>
                                                  Set A Password<span class="req">*</span>
                                                </label>
                                                <input type="password" name="password" required autocomplete="off"/>
                                              </div>

                                              <div class="field-wrap">
                                                <label>
                                                  Mobile Number<span class="req">*</span>
                                                </label>
                                                <input type="text" name="mobile" required autocomplete="off"/>
                                              </div>
                                              
                                              <button type="submit" name="signup" class="button button-block"/>Get Started</button>
                                              </form>

                                            </div>
                                            
                                            <div id="login">   
                                              <h1>Welcome Back!</h1>
                                              
                                              <form action="/auth/login" method="post">
                                              
                                                <div class="field-wrap">
                                                <label>
                                                  Email Address<span class="req">*</span>
                                                </label>
                                                <input type="email" name="email" required autocomplete="off"/>
                                              </div>
                                              
                                              <div class="field-wrap">
                                                <label>
                                                  Password<span class="req">*</span>
                                                </label>
                                                <input type="password" name="password" required autocomplete="off"/>
                                              </div>
                                              
                                              <p class="forgot"><a href="#">Forgot Password?</a></p>


                                              
                                              <button name="login" class="button button-block"/>Log In</button>
                                              </form>

                                            </div>
                                            
                                          </div><!-- tab-content -->
                                          
                                        </div> <!-- /form -->
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                
                
                
                <a class="btn btn-danger btn-lg" id="button" href="/shop">Order Now! </a>
                <div class="head-last"></div>
            </div>
        </div>
    </div>
    <!--End Header section  -->


    <!--words Section-->
    <section class="for-full-back color-white" id="about">
        <div class="container">
            <hr class="divider" style="margin-top:80px;margin-bottom:80px;">
            <div class="row text-center">
                <div class="col-md-5">
                    <img style="height:300px;" src="../static/img/Logo/logo.png">
                </div>
                <div class="col-md-6 ">
                    <h1>In search for bodybuilding food ?</h1>
                    
                    <h4>
                        <strong>It is a fact that we are what we eat.Here at dytilla, we aim to provide quality nutrition for you
through healthy meals.
                        </strong>
                    </h4>
                </div>

            </div>

            <hr class="divider" style="margin-top:80px;margin-bottom:80px;">

            <div class="row text-center space-pad">
                <div class="col-md-6 ">

                    <div class="about-div">

                        <img src="static/img/s1.png" width="70" height="60" style="z-index:1" />


                        <h3>100% Fresh </h3>
                        <p>
                            We are committed to provide farm-fresh ingredients.
                        </p>

                    </div> 

                </div>
                <div class="col-md-6 ">

                    <div class="about-div">

                        <img src="static/img/s2.png" width="70" height="65" style="z-index:1" />


                        <h3 style="margin-top:15px;"> Quick Delivery</h3>
                        <p>
                           Name your gym and we are there! Ready to provide you, your natural post workout
                        </p>

                    </div>

                </div>
            </div>
        </div>


    </section>

    <section class="for-full-back " id="dytila-one">
        <div class="container">

            <div class="row text-center for-dytila-one">
                <div class="col-md-6 ">
                    <h3 style="color:#FFF;">Vegetarian Food (egg included)</h3>
                    <h4>
                        <strong>Building muscles relying on veggies possible? Absolutely! No compromises with macros! Including and exclusion of eggs in your meal available.
                        </strong>
                    </h4>
                </div>
                <div class="col-md-6 ">
                    <h3 style="color:#FFF;">Non-Vegetarian Food</h3>
                    <h4>
                        <strong>High quality animal derivatives/chicken with high protein content! Foodgasm as post workout served!
                        </strong>
                    </h4>
                </div>
            </div>


        </div>
    </section>
    <!--./dytila one-->
    <!--End words Section-->




    <!-- Pricing Section -->

    <section class="for-full-back color-white " id="price-sec">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <h1>dytila Food Options</h1>
                    <h4 style="color:#000;">
                        <strong>Two different plans for you.
                        </strong>
                    </h4>
                </div>

            </div>
            <div class="row text-center">

               

                    <div class="col-md-6">
                        <ul class="plan">
                            <li class="plan-head">Regular Plan</li>
                            <li class="main-price">Price depends</li>
                            <table class="plan_table" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td><img class="tick_cross" src="static/img/cross.png"></td>
                                        <td>4 Different Meal Plans</td>
                                    </tr>
                                    <tr>
                                        <td><img class="tick_cross" src="static/img/cross.png"></td>
                                        <td>Timimg System</td>
                                    </tr>
                                    <tr>
                                        <td><img class="tick_cross" src="static/img/cross.png"></td>
                                        <td>Free smoothie at the end</td>
                                    </tr>
                                </tbody>
                            </table>
                            <li><strong>Cash On Deliviry</strong></li>
                            <li class="bottom">
                                <a href="/shop" class="btn btn-default" id="button">Order Meals Now!</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-6">
                        <ul class="plan">
                            <li class="plan-head">Monthly Plan</li>
                            <li class="main-price">4000 Rupees</li>
                            <table class="plan_table" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td><img class="tick_cross" src="static/img/tick.jpg"></td>
                                        <td>4 Different Meal Plans</td>
                                    </tr>
                                    <tr>
                                        <td><img class="tick_cross" src="static/img/tick.jpg"></td>
                                        <td>Timimg System</td>
                                    </tr>
                                    <tr>
                                        <td><img class="tick_cross" src="static/img/tick.jpg"></td>
                                        <td>Free smoothie at the end</td>
                                    </tr>
                                </tbody>
                            </table>
                            <li><strong>Monthly payment</strong></li>
                            <li class="bottom">
                                <a href="/monthly_pan/view" class="btn btn-default" id="button">VIEW</a>
                            </li>
                        </ul>
                    </div>
               
            </div>


        </div>
    </section>

    <section class="for-full-back for-dytila-two" id="dytila-two">
        <div class="container">

            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 ">
                    <label style="margin-top:70px;">Why dytila</label>
                    <h4>
                        <strong>It is a fact that we are what we eat. Here at dytilla, we aim to provide quality nutrition for you
through healthy meals. The macros in our selection have been meticulously calculated to target your fitness goals. Moreover, we aim to give your taste buds a tantalising experience.
                        </strong>
                    </h4>
                </div>

            </div>


        </div>
    </section>
    <!--./dytila two-->
    <!--End Pricing Section -->
    
    <!-- Sponsors -->
    
    <section class="for-full-back color-white " id="price-sec">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <h1>Our Partners</h1>
                </div>
            </div>
            <div class="row text-center">

               

                    <div class="col-md-6">
                        <ul class="plan sponser" >
                            <li class="plan-head sponser-head" style="">Apna Dhaba</li>
                            
                            <li class="sponser_img">
                                Distributing our product is our beloved Apna Dhaba. It is known for its economical,
tasty and hygienic food selection. It is a popular hangout spot of VIT students.<br><br>
                                <img src="static/img/apna-dhabha.png" style="height:250px;width:250px;"> 
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-6">
                        <ul class="plan sponser">
                            <li class="plan-head sponser-head">falras</li>
                            <li class="sponser_img">
                                It is known for its large collection of fruit based products at highly economical rates. Falras has established itself to become a synonym for fruit juice.<br><br>
                                <img src="static/img/falras.png" style="height:250px;width:250px;"> 
                            </li>  
                        </ul>
                    </div>
               
            </div>


        </div>
    </section>
    

    <!-- Contact Section -->
    <section class="for-full-back color-white " id="contact-sec">
        <div class="container">


            <div class="row">
                <div class="col-md-5 contact-cls">
                    <h3>CONTACT US</h3>
                    <div>
                        <span><i class="fa fa-home"></i>&nbsp;Address: VIT University</span>
                        <br />
                        <span><i class="fa fa-phone"></i>&nbsp;Phone: +91- 9790003326<br>&nbsp;+91- 9585896662</span>
                        <br />
                        <span><i class="fa fa-envelope-o"></i>&nbsp;E-Mail: dytilanutrition@gmail.com</span>
                        <br />
                    </div>
                    <br />
                    <div id="social-icon">
                        <a href="#"><img class="social_icons" src="static/img/fb.png" /></a>
                        <a href="#"><img class="social_icons" src="static/img/google_plus.png" /></a>
                        <a href="#"><img class="social_icons" src="static/img/insta.png" /></a>
                        <a href="#"><img class="social_icons" src="static/img/twitter.png" /></a>
                    </div>
                </div>
                <div class="col-md-7">
                    <h2>Have Queries? Ask US</h2>
                    <p>
                        Need help? We are here for you give us feedback by sharing your story! You can get a real time experience by sharing your story...
                    </p>
                    <form>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" required="required" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" required="required" placeholder="Email address">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <textarea name="message" id="message" required="required" class="form-control" rows="3" placeholder="Message"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Submit Request</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>

    <!--End Contact Section -->
    <!--footer Section -->
    <div class="for-full-back" id="footer">
        <h4 style="margin:0;padding:0;" class="text-center">&copy; 2016 dytila | All Right Reserved</h4>
         
    </div>
    <!--End footer Section -->
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="static/plugins/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="static/plugins/bootstrap.js"></script>
    <!-- VEGAS SLIDESHOW SCRIPTS -->
    <script src="static/plugins/vegas/jquery.vegas.min.js"></script>
    <script src="static/plugins/jquery.desifood-1.1.3.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="static/js/custom.js"></script>
    
    
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src="static/js/index.js"></script>   
        <script type="text/javascript">
          $(document).ready(function () {
            if(window.location.href.indexOf("false") > -1) 
            {
                 alert("Email or Password is incorrect!");
            }
        });
        </script>
</body>
</html>