<!DOCTYPE html>
<html>
<head>
    <title>Request Json Dytila</title>
    <link href="static/css/bootstrap.css" rel="stylesheet" />
    <style type="text/css">
        .wrapper{
            width: 90%;
            margin: auto;
            
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="row accounts">
            <form action="/api/accounts" method="post">
                <h4 class="text-center">Accounts</h4>
                <center>
                    <div class="accounts_data">
                        Enter User Name : <input type="text" name="user_name">
                        <input type="submit" name="submit" value="submit">    
                    </div>
                </center>
            </form>
        </div>
        <hr class="divider" style="margin-top:40px;margin-bottom:40px;">
        <div class="row orders">
             <form action="/api/orders" method="post">
                <h4 class="text-center">Orders</h4>
                <center>
                    <div class="orders_data">
                        Enter User Name : <input type="text" name="user_name">
                        <input type="submit" name="submit" value="submit">    
                    </div>
                </center>
            </form>
        </div>
        <hr class="divider" style="margin-top:40px;margin-bottom:40px;">
        <div class="row bills">
            <form action="/api/bills" method="post">
                <h4 class="text-center">Bills</h4>
                <center>
                    <div class="bills_data">
                        Enter Order ID : <input type="text" name="user_name">
                        <input type="submit" name="submit" value="submit">    
                    </div>
                </center>
            </form>
        </div>
    </div>
</body>
</html>








