<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="../static/img/favicon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>dytila</title>
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="static/css/font-awesome.min.css" rel="stylesheet" />
    <!-- VEGAS STYLE CSS -->
    <link href="static/scripts/vegas/jquery.vegas.min.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="static/css/style.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Ruluko' rel='stylesheet' type='text/css' />
    <style type="text/css">
        body{
            background-color: #FCDFFF;
        }
    </style>
</head>
<body>
    <!-- Navigation -->
    <div id="navbar">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Dytila <span class="beta">BETA</span></a>
            </div>
            <!-- Collect the nav links for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="glow" href="/">HOME</a></li>
                    <li><a href="#"><strong>E-mail: </strong> dytilanutrition@gmail.com</a></li>
                    {% if result['loggedIn'] %}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{
                      result['user']['full_name']+""+result['user']['last_name']}}<span class="caret"></span></a>
                      <ul class="dropdown-menu" id="dropdown-menu">
                        <li><a href="/profile">Profile</a></li>
                        <!-- <li><a href="/recent_orders">Your orders</a></li> -->
                        <!-- <li><a href="/cart">Cart</a></li>
                        <li><a href="/chat_with_dietitian">Chat with Dietician</a></li> -->
                        <li role="separator" class="divider"></li>
                        <li><a href="/auth/logout">Logout</a></li>
                      </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    </div>
    <!--End Navigation -->

    <!--content_main Section -->
    <div class="content">
        <div class="row">
        <hr class="divider" style="margin-top:20px;margin-bottom:20px;">
            <div class="col-md-2">
                <!--Sidebar-->
                <div id="sidebar-wrapper">
                    <ul class="options">
                        <!-- <li class="option_heading" style="">ORDERS</li>
                        <li><a href="/recent_orders">My Orders</a></li>
                        <li><a href="/recent_orders">Orders history</a></li>
                        <li><a href="#">Track Orders</a></li>
                        <li class="option_heading">PAYMENT</li>
                        <li><a href="/cod">Cash on delivery</a></li>
                        <li><a href="#">Payment History</a></li> -->
                        <li class="option_heading">PERSONAL</li>
                        <li><a href="/change_pass">Change password</a></li>
                        <!-- <li><a href="/profile_address">Address</a></li> -->
                        <li><a href="/profile_settings">Profile settings</a></li>
                        <li><a href="/account_settings">Account settings</a></li>
                        <li><a href="/my_orders">My Orders</a></li>
                    </ul>
                </div>
                <!--End Sidebar-->
            </div>
            <div class="col-md-7">
                    <!--Content main section-->
                    <div class="content_main">
                    <h2 class="text-center">Profile</h2>
                    <div class="form">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Username : </label>
                            </div>
                            <div class="col-md-8">
                                {{ result['user']['full_name']+" "+result['user']['last_name'] }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Email ID : </label>
                            </div>
                            <div class="col-md-8">
                                {{ result['user']['email'] }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Mobile Number : </label>
                            </div>
                            <div class="col-md-8">
                                {{result['user']['mobile']}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Dytila Points : </label>
                            </div>
                            <div class="col-md-8">
                                {{result['user']['DP']}}
                            </div>
                        </div>
                        {% end %}
                    </div>
                    </div>
                    <div class="row order_area">
                        <div class="col-md-12">
                        <br><br>
                            <h3>Your Order Details </h3>
                            {% if order['food_name']==0 %}
                                <h4>You Have Not Order anything yet :(</h4>
                                <h4><a href="/shop">Order Now!</a></h4>
                            {% else %}
                            <table class="user_order_table">
                                <tbody>
                                    <tr>
                                        <td><label>Food Name</label></td>
                                        <td>:</td>
                                        <td>{{ order['food_name'] }}</td>
                                    </tr>
                                    <tr>
                                        <td><label>Total Meal Freq. (per month)</label></td>
                                        <td>:</td>
                                        <td>{{ order['Tmeal_freq'] }}</td>
                                    </tr>
                                    <tr>
                                        <td><label>Meal Freq. (remaining)</label></td>
                                        <td>:</td>
                                        <td>{{ order['meal_freq'] }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            {% end %}
                        </div>
                    </div>
            </div> 
            <div class="col-md-2">
                <img src="../static/img/customer_img/{{ order['user_img'] }}" class="user_img">
            </div>  
                    <!--End content_main Section -->
            </div>
            <!-- <div class="row">
                <div class="col-md-12">
                    <h2>hello</h2>
                </div>
            </div> -->
            <hr class="divider" style="margin-top:10px;margin-bottom:10px;">
        </div>
    <!--footer Section -->
    <div class="for-full-back" id="footer">
        <div class="row">
            <div class="col-md-6">
                <a href="/terms_privacy"><h4 class="tncp text-center">Terms and Condition / Privacy Policy</h4></a>        
            </div>
            <div class="col-md-6">
                <h4 style="margin:0;padding:0;" class="text-center">&copy; 2016 dytila | All Rights Reserved</h4>        
            </div>
        </div>    
    </div>
    <!--End footer Section -->
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="static/plugins/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="static/plugins/bootstrap.js"></script>

</body>
</html>
