<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>dytila</title>
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="static/css/font-awesome.min.css" rel="stylesheet" />
    <!-- VEGAS STYLE CSS -->
    <link href="static/scripts/vegas/jquery.vegas.min.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="static/css/style.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Ruluko' rel='stylesheet' type='text/css' />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
      .team_img{
        background: url("static/img/team.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 617px;
      }
      .team_detail{
        color:#fff;
        width:70%;
        margin:auto;
        margin-top: 100px;
        font-size: 30px;
        opacity: 0.6;
      }
    </style>
</head>
<body>
    <div class="navbar_banner">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">dytila</a>
            </div>
            <!-- Collect the nav links for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><strong>E-mail: </strong> dytila_vit@gmail.com</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Your Name<span class="caret"></span></a>
                      <ul class="dropdown-menu" id="dropdown-menu">
                        <li><a href="/profile.html">Profile</a></li>
                        <li><a href="/recent_orders">Your orders</a></li>
                        <li><a href="/cart">Cart</a></li>
                        <li><a href="#">Chat with Dietician</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Logout</a></li>
                      </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    </div>
    <!--End Navigation -->

    <div class="content" >
        <div class="row team_img">
        
        <div class="team_detail">
        <center>
        <h1 class="text-center">MEET THE TEAM</h1>
          <strong>
            Hey there! We are the team dytila. You might often hear about balancing your work and play. But you know what fuels all? FOOD! You are what you eat, eating clea is the first step in achieving fitness, and that's where we step in. We hope you will have a great experience with dytila :)
          </strong>
          </center>
        </div>
            <!-- <h1 class="text-center">MEET THE TEAM</h1>
        <div class="row text-center">

              <div class="col-sm-4 col-md-4">
                  <center>
                  <div class="team top_left">
                  
                    <img src="static/img/saurav.png" alt="p1" >
                    <div class="caption">
                      <h4>Saurav Sharma</h4>
                      <div class="about">
                        Emerging entrepreneur and fitness addict in simple word he is<br>pretty cool 
                      </div>
                      <a href="#">See his facebook</a>
                    </div>
                    
                  </div>
                  </center>
              </div>

              <div class="col-sm-4 col-md-4">
              <div class="team top">
                img here
              </div>
              </div>

              <div class="col-sm-4 col-md-4">
                  <center>
                  <div class="team top_right">
                  
                    <img src="static/img/akshay.png" alt="p1" >
                    <div class="caption">
                      <h4>Akshay Kudva</h4>
                      <div class="about">
                      One of the most disciplined people we know. No one knows 
                      his macros better than him.
                      </div>
                      <a href="#">see his facebook</a>
                    </div>
                    </center>
              </div>
        </div>

        <div class="row" style="margin-top:30px;">

             <div class="col-sm-5 col-md-5">
             <center>
              <div class="team medium_left">
                <img src="static/img/sid.png" alt="p1" >
                <div class="caption">
                  <h4>Siddhart Gupta</h4>
                  <div class="about">
                  One of the most disciplined people we know. No one knows 
                  his macros better than him.
                  </div>
                  <a href="#">see his facebook</a>
                </div>
                </center>
              </div>
              
              <div class="col-sm-2 col-md-2">
                  <center>
              <div class="team medium_left">
                <div class="caption">
                  
                </div>
                </center>
              </div>

              <div class="col-sm-5 col-md-5">
              <center>
              <div class="team medium_right">
              
                <img src="static/img/gaurav.png" alt="p1" >
                <div class="caption">
                  <h4>Gaurav Sharma</h4>
                  <div class="about">
                The techie of the team! Enjoys lifting as well! What more 
                    can you ask from a guy?
                  </div>
                  <a href="#">see his facebook</a>
                </div>
                </center>
              </div>

        </div>
        <div class="row" style="margin-top:20px;">
              
                <div class="team bottom">
                <center>
                <img src="static/img/abhi.jpg" alt="p1" style="width:200px;height:200px;">
                <div class="caption">
                  <h4>Abhivishrut Singh Bhadu</h4>
                  <div class="about">
                    One of the most disciplined people we know. No one knows 
                  his macros better than him.
                  </div>
                  <a href="#">see his facebook</a>
                </div>
                </center>
                </div>
              
        </div>
         -->
    </div>
        </div>

    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="static/plugins/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="static/plugins/bootstrap.js"></script>

</body>
</html>
