<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="../static/img/favicon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>dytila</title>
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="static/css/font-awesome.min.css" rel="stylesheet" />
    <!-- VEGAS STYLE CSS -->
    <link href="static/scripts/vegas/jquery.vegas.min.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="static/css/style.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Ruluko' rel='stylesheet' type='text/css' />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    </style>
</head>
<body>
    <div class="navbar_banner">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Dytila <span class="beta">BETA</span></a>
            </div>
            <!-- Collect the nav links for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="glow" href="/">HOME</a></li>
                    <li><a href="#"><strong>E-mail: </strong> dytilanutrition@gmail.com</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Your Name<span class="caret"></span></a>
                      <ul class="dropdown-menu" id="dropdown-menu">
                        <li><a href="/profile.html">Profile</a></li>
                        <li><a href="/recent_orders">Your orders</a></li>
                        <!-- <li><a href="/cart">Cart</a></li>
                        <li><a href="#">Chat with Dietician</a></li> -->
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Logout</a></li>
                      </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    </div>
    <!--End Navigation -->

    <div class="team_content" >
      <h1 class="text-center">Meet The Team</h1>
        
        <div class="row team_row">
          <img src="../static/img/team/team.png" class="team_img">
        </div>

        <h1 class="text-center">About Our Team</h1>
        <div class="row about_team">
          <div class="col-md-12">
          <center>
            <p>
              <strong>
              Hey there! We are the team dytila. You might often hear about balancing your work and play. But you know what fuels all? FOOD! You are what you eat, eating clea is the first step in achieving fitness, and that's where we step in. We hope you will have a great experience with dytila :)
            </strong>
            </p>
            </center>
          </div>
        </div>
    </div>


    <!--footer Section -->
    <div class="for-full-back" id="footer">
        <h4 style="margin:0;padding:0;" class="text-center">&copy; 2016 dytila | All Right Reserved</h4>
         
    </div>
    <!--End footer Section -->
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="static/plugins/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="static/plugins/bootstrap.js"></script>

</body>
</html>
