
body {
    font-family: 'Ruluko', sans-serif;
    font-size:14px;
}
.nav a {
    color:#ffffff !important;
}
.navbar-header a {
    color:#ffffff !important;
    padding-right:100px;
}

.text-center {
    text-align:center;
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Ruluko', sans-serif;
}

h1 {
    line-height:120px;
    text-transform:uppercase;
     color: #DF0000;
}
h3 {
    line-height:30px;
    padding-bottom:20px; 
}
#about h4,h3{
  color: #000;
}
h4 {
    line-height:40px;
    padding-bottom:40px;
}

p {
    font-weight:300;
    line-height:30px;
    padding-bottom:20px;
    color: #000;
}
.space-pad {
    padding-bottom:50px;
}
#home{
  background-image: url("../img/1.png");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  background-attachment: fixed;
}
#home a{
  margin-right: 20px;
}

.for-full-back {
  background-color: #000;
  color: #FFFFFF;
  
     /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";


  /* IE 5-7 */
  filter: alpha(opacity=90);

  /* Netscape */
  -moz-opacity: 0.9;

  /* Safari 1.x */
  -khtml-opacity: 0.9;

  /* Good browsers */
  opacity: 0.9;
}
/*=================================
  DROP DOWN STYLE
===================================*/
.dropdown{
  background-color: #D30707;
}
.dropdown-menu{
  background-color: #D30707;
}
/*=======================================
    NAVIGATION STYLES
==================================================*/


nav {
	position: absolute;
	width: 100%;
    background: #fff;
    z-index:99;
}
.fixed {
	position: fixed; 
	top: 0; 
	min-height: 50px; 
	z-index: 99;
}

.navbar-inverse {
background-color: #DF0000;
border-color: #D30707;
}
/*=======================================
    FOOTER STYLES
==================================================*/
#footer{
  text-align: right;
}
.footer{
  padding: 0;
  background-color: #000;
  color: white;
  top:0;
}
.footcontainer{
  background-color:#000; 
}   
ul.footer_box{
  list-style:none;
  padding:0;
} 
ul.footer_box h4{
  color:#fff;
  font-size:1.5em;
  text-transform:uppercase;
  font-weight:700;
  padding: 0;
}
ul.footer_box li a{
  color: #B8B6B6;
  font-size: 0.9125em;
  text-decoration:none;
  line-height: 2em;
}
ul.footer_box li a:hover{
  color:#fff;
}
.sc{
  text-transform: uppercase;
}
.scform{
  color: black;
}
.scform input{
  margin-bottom: 10px;
}
/*=========================
    FOOTER STYLES
===========================*/
.description{
  margin: auto;
  width: 90%;
}
.content{
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  color: #fff;
}
.wrapper{
	width: 80%;
	margin: auto;
}
/*=========================
  Monthly Plans
===========================*/
.regular_plan, .monthly_plan{
  width: 60%;
  height: 200px;
}
.shredding, .bulking, .fat_loss,.custom{
  margin: auto;
}
/*.mplans{
	color: #ffffff;	
  background-image: url("../img/choose.jpg");
  padding: 0;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  background-attachment: fixed;
}*/
.mplans h3{
	font-size: 35px;
	padding: 10px;
}
.mplans p a{
	font-size: 20px;
}
.shredding img{
	width: 450px;
	height: 350px;
}
.bulking img{
	width: 370px;
	height: 350px;
}
.fat_loss img{
	width: 400px;
	height: 350px;
}
.custom img{
	width: 350px;
	height: 350px;
}
/*=========================
  Monthly Plans Options
===========================*/
.mplans{
	color: #000;
}
.shredding_plan{
  background-image: url("../img/shredding_back.jpg");
  padding: 0;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}
.bulking_plan{
  background-image: url("../img/bulking_back.jpg");
  padding: 0;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;	
}
.fat_loss_plan{
  background-image: url("../img/fat_loss_back.jpg");
  padding: 0;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;	
}
.custom_plan{
  background-image: url("../img/custom_back.jpg");
  padding: 0;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;	
}
.shredding_plan img{
	width: 300px;
	height: 200px;
}
.plan_wrapper{
	width: 80%;
	margin: auto;
}
.plan_wrapper .bulking_img{
	width: 300px;
	height: 330px;
	margin-top: 80px;
	margin-right: 80px;
}
.plan_wrapper .shredding_img{
  margin-top: 80px;
	width: 350px;
	height: 400px;
}
.plan_wrapper .fat_loss_img{
	width: 300px;
	height: 400px;
	margin-right: 80px;
}
/*=========================
  Monthly Plans Options
===========================*/
.tab-content > div:nth-child(2){
  display: none;
}
.tab-content > div:nth-child(3){
  display: none;
}
.tab-content > div:nth-child(4){
  display: none;
}
.tab-content > div:nth-child(5){
  display: none;
}
.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.9);
  color: #fff;
  font-size: 20px;
  float: left;
  width: 20%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: rgba(233,0,0,0.5);
  color: #ffffff;
}
.tab-group .active a {
  background: #DF0000;
  color: #ffffff;
}
.form {
  padding: 40px;
  max-width: 95%;
  margin: 40px auto;
  margin-top: 0;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.9);
}
.veg_head{
	width: 50%;
	height: 50px;
	float: left;
}
.non_veg_head{
	width: 50%;
	height: 50px;
	float: right;
}
.shredding_plan h3, .bulking_plan h3, .fat_loss_plan h3, .custom_plan h3{
	font-size: 30px;
	color: #fff;
}
.food_type{
	background: rgba(0,0,0,0.4);
}
a{
	list-style: none;
}
a:hover{
	list-style: none;	
}
.food_type_plan{
	margin: 30px;
}
h3{
	margin: 30px;
}
h2{
	margin: 60px;
}
/*=========================
back to home and back to plans
===========================*/
.back_to_home{
	float: left;
	margin: 0;
	padding: 0;
}
.back_to_plans{
	float: right;
	margin: 0;
	padding: 0;
}