body{
font-family: 'Ruluko', sans-serif;
font-size:18px;
color: #fff;
background-image: url("../../static/img/form_back.jpg");
background-repeat: no-repeat;
background-position: center 0;
background-size: cover;
background-attachment: fixed;
}
.form {
  padding: 20px;
  width: 40%;
  min-width: 400px;
  margin: 40px auto;
  border-radius: 4px;
  background: rgba(0,0,0,0.7);
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(0,0,0,0.06);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: rgba(211,7,7,0.6);
  color: #ffffff;
}
.tab-group .active a {
  background: rgba(211,7,7,0.9);
  color: #ffffff;
}

/*.tab-content > div:nth-child(3),div:nth-child(4) {
  display: none;
}
*/
#two_meal{
  display: none;
}
#three_meal{
  display: none;
}
#four_meal{
  display: none;
}
.macro_form{
  width: 100%;
  margin: auto;
}
.step_two_div{
  width: 40%;
  float: right;
}
.step_two{
  display: none;
}
#show_area{
  width: 45%;
  margin: auto;
}
/*.macro_form input{
  width: 200px;
  margin-top: 20px;
  border-radius: 10px;
}*/
.loading_gif{
  width: 50px;
  height: 50px;
}
#read_area{
  display: none;
}
.help{
  margin-left: 3px;
  font-size: 14px;
  color: #d37070;
  text-decoration: none;
}
.help:hover{
  color: #fff;
  text-decoration: none;
}
/*======================
Meal plan form
=======================*/
 .meal_form {
        padding: 20px;
        max-width: 60%;
        min-width: 500px;
        margin: 40px auto;
        border-radius: 10px;
        background: rgba(0,0,0,0.7);
        box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
      }
      .meal_form .tab-group {
        list-style: none;
        padding: 0;
        margin: 0 0 20px 0;
      }
      .meal_form .tab-group:after {
        content: "";
        display: table;
        clear: both;
      }
      .meal_form .tab-group li a {
        display: block;
        text-decoration: none;
        padding: 15px;
        background: rgba(160, 179, 176, 0.25);
        color: #a0b3b0;
        font-size: 20px;
        float: left;
        width: 33%;
        text-align: center;
        cursor: pointer;
        -webkit-transition: .5s ease;
        transition: .5s ease;
      }
      .meal_form .tab-group li a:hover {
        background: rgba(211,7,7,0.6);
        color: #ffffff;
      }
      .meal_form .tab-group .active a {
        background: rgba(211,7,7,0.9);
        color: #ffffff;
      }
      .meal_form #two_meal{
        display: none;
      }
      .meal_form #three_meal{
        display: none;
      }
      .meal_form #four_meal{
        display: none;
      }
      .meal_form .macro_form{
        width: 100%;
        margin: auto;
      }
      .meal_form table{
        margin: auto;
      }
      .meal_form .que{
        width: 250px;
        padding: 10px;
      }
      .meal_form .ans{
        width: 200px;
        padding: 10px;
        text-align: center;
      }
      .meal_form #read_area{
        display: none;
      }
      .meal_form select{
        color: #000;
      }
      #gym_type{
        color: #000;
      }
select{
  color: #000;
}