body{
	/*background-color: rgba(220,220,220,0.2);*/
  background-image: url(../img/dytila_back.png);
}
.meal_wrapper{
	width: 80%;
	margin: auto;
}
#meal_header{
	margin-top: 50px;
	background-color: #fff;
	padding: 20px;
	border: 1px solid #d30707;
	border-radius: 10px;
}
#dytila_meal_section{
  padding: 0;
	background-color: #fff;
	border: 1px solid #d30707;
	border-radius: 10px;	
}
#custom_section{
	margin-top: 20px;
	background-color: #fff;
	border: 1px solid #d30707;
	border-radius: 10px;	
}
#user_custom_section{
	margin-top: 20px;
	background-color: #fff;
	border: 1px solid #d30707;
	border-radius: 10px;	
}
#dytila_made_img{
  border-radius: 10px;
  border: 2px solid #d30707;
}
#custom_img{
	border-radius: 10px;
	border: 2px solid #d30707;
}
#veg,#nonveg,#egg{
  width: 100px;
  background-color: rgba(255,255,255,1);
  color: #D30707;
  border:1px solid #D30707;
}
#veg:hover,#nonveg:hover,#egg:hover{
  background-color: rgba(211,7,7,1);
  color: #FFFFFF;
}
#meal_name{
	padding: 0;
}
#user_custom_section .row{
	width: 80%;
	margin: auto;
}
#user_custom_textarea{
	width: 100%;
	height: 100px;
	padding: 10px;
	border:1px solid #d30707;
	border-radius: 10px;
}
.dytila_meal_button{
	width: 150px;
	height: 40px;
}
.custom_meal_button, .user_custom_section_submit_button{
	width: 80px;
	height: 40px;
}
#down_img{
	width: 10px;
	height: 10px;
}
#emoji{
	width: 40px;
	height: 40px;
}
.product_links h4{
  padding: 0;
}
/*===========================
  FOOD TYPE Meal Style
=============================*/
.dytila_meal_area{
  width: 100%;
  margin: auto;
}
.dytila_meal_area .tab-content > div:nth-child(2){
  display: none;
}
/*.dytila_meal_area .tab-content > div:nth-child(3){
  display: none;
}
.dytila_meal_area .tab-content > div:nth-child(4){
  display: none;
}
.dytila_meal_area .tab-content > div:nth-child(5){
  display: none;
}*/
.dytila_meal_area .tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}
.dytila_meal_area .tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.dytila_meal_area .tab-group li a {
  display: block;
  text-decoration: none;
  padding: 8px;
  background: rgba(160, 179, 176, 0.9);
  color: #fff;
  font-size: 18px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.dytila_meal_area .tab-group li a:hover {
  background: rgba(233,0,0,0.5);
  color: #ffffff;
}
.dytila_meal_area .tab-group .active a {
  background: #DF0000;
  color: #ffffff;
}
.dytila_meal_area .form {
  padding: 5px;
  max-width: 95%;
  margin: 40px auto;
  margin-top: 0;
  border-radius: 4px;
}
.dytila_meal_area a{
    list-style: none;
}
.dytila_meal_area a:hover{
    list-style: none;   
}
.dytila_meal_area h3{
  padding: 0;
  margin: 0;
}
.dytila_meal_area h2{
    margin: 60px;
}
.tncp_img{
    height: 45px;
    width: 45px;    
    padding: 10px;
}
.dytila_meal_area p{
  font-size: 16px;
}
.dytila_meal_area span{
  color: #D30707;
  font-size: 25px;
}
/*Details of meal*/
.meal_items li{
  list-style: none;
  padding: 10px;
}
.meal_macros_table td{
  padding: 15px;
}
.meal_macros_table thead td{
  font-weight: bold;
}
#b_read_more_content{
  display: none;
}
#s_read_more_content{
  display: none;
}









