<!DOCTYPE html>
<html>
<head>
	<title>Ask Dytila</title>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style_askDytila.css">
</head>
<body>
	<div class="header">
		<h1 class="text-center">Ask Dytila!</h1>
	<h3 class="text-center">Where People Ask Fitness...</h3>	
	<div class="tabs">
		<div class="row">
			<div class="col-md-8">
				<ul class="tab">
					<a href="/askDytila"><li>Home</li></a>
					<a href="/"><li>Dytila</li></a>
					<a href="/askque"><li>Ask a Question</li></a>
					<a href="/ansque"><li>Answer a question</li></a>
					<a href="/auth/logout"><li>Logout</li></a>
				</ul>		
			</div>
			<div class="col-md-4 search">
				<input type="text" name="search" placeholder="Enter Here....">
				<button>Search</button>
			</div>
		</div>
		
	</div>
		
	</div>
	<div class="wrapper ansque">
	<hr class="divider" style="margin-top:100px;margin-bottom:30px;">
		<h1 class="text-center">Answer the Questions!</h1>
		<hr class="divider" style="margin-top:30px;margin-bottom:30px;">

		<div class="row unanswered">
		{% for i in que %}
			<form action="/ans" method="post">
			<div class="col-md-5 unans">
				<div class="row">
					<div class="col-md-12">
						<div class="que">
							<label>{{ i[1] }}</label>	
							<input type="text" name="ask_id" value="{{ i[2] }}" hidden>
						</div>
					</div>
				</div>
				<hr class="divider" style="margin-top:10px;margin-bottom:20px;">				
				<div class="row">
					<div class="col-md-12">
						<!-- <input type="submit" name="give_ans" value="give an answer" id="button"> -->
						<!-- <button onclick="show(this)" id="{{ i[2] }}"></button> -->
						<span onclick="show(this)" class="ans_id" id="{{ i[2] }}">Give an Answer</span>
						<br><br>
						<div class="give_ans" id="ans_{{ i[2] }}">
							<textarea name="ans" class="ans"></textarea><br><br>
							<button type="submit" name="submit" id="button">Answer</button>	
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
							<p class="postedby pull-right">
							Asked by <label>{{ i[0] }}</label>
						</p>	
					</div>
				</div>
			</div>	
			</form>
		{% end %}
		</div>
	</div>

	<!--Footer section-->
	<div class="footer">
	<hr class="divider" style="margin-top:60px;margin-bottom:60px;">
	<center>
		<!-- <div class="row">
			<div class="col-md-3">
				<ul>
					<li class="list_head">Trending</li>
					<li>option1</li>
					<li>option2</li>
					<li>option3</li>
					<li>option4</li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul>
					<li class="list_head">Trending</li>
					<li>option1</li>
					<li>option2</li>
					<li>option3</li>
					<li>option4</li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul>
					<li class="list_head">Trending</li>
					<li>option1</li>
					<li>option2</li>
					<li>option3</li>
					<li>option4</li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul>
					<li class="list_head">Trending</li>
					<li>option1</li>
					<li>option2</li>
					<li>option3</li>
					<li>option4</li>
				</ul>
			</div>
		</div> -->
		<div class="row copyright" style="margin-top:30px;">
			<div class="col-md-6">
				<h4>&copy; 2016 dytila | All Rights Reserved</h4>
			</div>
			<div class="col-md-4 social_img pull-right">
				<h4 class="pull-left">Follow us :</h4>
				<img src="../static/img/fb.png">
				<img src="../static/img/insta.png">
			</div>
		</div>
		</center>
	</div>
	<hr class="divider" style="margin-top:60px;margin-bottom:60px;width:80%;">
	<!--End Footer section-->
	
</body>
<script type="text/javascript">
	function show(x){

		document.getElementById("ans_"+x.id).style.display="block";
		// document.getElementById("give_ans").style.visibility="visible";
		document.getElementById(x.id).style.display="none";
	}
</script>
<script type="text/javascript">
	if(window.location.href.indexOf("?posted=true") > -1) 
    {
         alert("your question has been submitted successfully!");
    }
    if(window.location.href.indexOf("loggedIn=false") > -1) 
    {
         alert("Please Log In first");
    }
</script>


</html>