<!DOCTYPE html>
<html>
<head>
	<title>Ask Dytila</title>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style_askDytila.css">
</head>
<body>
	<div class="header">
		<h1 class="text-center">Ask Dytila!</h1>
	<h3 class="text-center">Where People Ask Fitness...</h3>	
	<div class="tabs">
		<div class="row">
			<div class="col-md-8">
				<ul class="tab">
					<a href="/"><li>Home</li></a>
					<a href="/askque"><li>Ask a Question</li></a>
					<a href="/ansque"><li>Answer a question</li></a>
					<a href="/auth/logout"><li>Logout</li></a>
				</ul>		
			</div>
			<div class="col-md-4 search">
				<input type="text" name="search" placeholder="Enter Here....">
				<button>Search</button>
			</div>
		</div>
		
	</div>
		
	</div>
	<div class="wrapper">
	<hr class="divider" style="margin-top:1px;margin-bottom:60px;">
	<h4> Latest Questions : </h4>
	{% for que in askArray %}
	<form action="/seemore" method="post"> 
		<div class="row qcontent">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-10">
						<div class="que">
							<label>{{ que[0] }}</label>	
							<input type="text" name="que" value="{{ que[0] }}" hidden>
							<input type="text" name="que_id" value="{{ que[4] }}" hidden>
						</div>
						
					</div>
					<div class="col-md-2">
						<div class="date">
							25-08-2016
						</div>
						
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="ans">
							{{ que[2] }}
							<input type="text" name="ans" value="{{ que[2] }}" hidden>
						</div>
						
					</div>
				</div>
				<div class="row">
					
					<div class="col-md-3">
						<p class="postedby pull-left">
							Asked By : <label>{{ que[1] }}<input type="text" name="askedBy" value="{{ que[1] }}" hidden></label><br>
							Answered By : <label>{{ que[3] }}</label>
							<input type="text" name="answerBy" value="{{ que[3] }}" hidden>
						</p>
						
					</div>
					<div class="col-md-3 pull-right">
						<button class="pull-right" id="button" type="submit" name="submit" style="margin:10px;">See More</button>
					</div>
				</div>
			</div>	
		</div>
	</form>
	{% end %}
		
		<hr class="divider" style="margin-top:90px;margin-bottom:60px;">
	</div>
	<!--Footer section-->
	<div class="footer">
	<center>
		<!-- <div class="row">
			<div class="col-md-3">
				<ul>
					<li class="list_head">Trending</li>
					<li>option1</li>
					<li>option2</li>
					<li>option3</li>
					<li>option4</li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul>
					<li class="list_head">Trending</li>
					<li>option1</li>
					<li>option2</li>
					<li>option3</li>
					<li>option4</li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul>
					<li class="list_head">Trending</li>
					<li>option1</li>
					<li>option2</li>
					<li>option3</li>
					<li>option4</li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul>
					<li class="list_head">Trending</li>
					<li>option1</li>
					<li>option2</li>
					<li>option3</li>
					<li>option4</li>
				</ul>
			</div>
		</div> -->
		<div class="row copyright" style="margin-top:30px;">
			<div class="col-md-6">
				<h4>&copy; 2016 dytila | All Rights Reserved</h4>
			</div>
			<div class="col-md-4 social_img pull-right">
				<h4 class="pull-left">Follow us :</h4>
				<img src="../static/img/fb.png">
				<img src="../static/img/insta.png">
			</div>
		</div>
		</center>
	</div>
	<hr class="divider" style="margin-top:60px;margin-bottom:60px;width:80%;">
	<!--End Footer section-->
	<script type="text/javascript">
		 if(window.location.href.indexOf("?posted=true") > -1) 
            {
                 alert("your answer has been submitted successfully!");
            }
	</script>
</body>
</html>