<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="../static/img/favicon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>dytila</title>
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" />
    <!-- VEGAS STYLE CSS -->
    <link href="../static/scripts/vegas/jquery.vegas.min.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="../static/css/style_plan_meal.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Ruluko' rel='stylesheet' type='text/css' />
    <style type="text/css">
        body{
            background-color: #FCDFFF;
        }
    </style>
</head>
<body>
  
    <!--content Section -->
    <div class="content bulking_plan">
        <div class="wrapper">
        <h1 class="text-center" style="margin:0;color:#fff;font-size:60px;"><strong>Bulking</strong></h1>
        <hr class="divider" style="margin-top:60px;margin-bottom:60px;">
        <div class="row">
          <div class="back_to_home">
            <p><a href="/" class="btn btn-success" role="button">Home</a></p>
          </div>
          <div class="back_to_plans">
            <p><a href="/monthly_pan/view" class="btn btn-success" role="button">Plans</a></p>
          </div>
        </div>
        <div class="form">

         <div class="row food_type">
          <div class="col-md-3">
            <a href="/monthly_plan_bulking" class="text-center">
              <h3>
                  Veg Food
              </h3>
            </a>
          </div>
          <div class="col-md-5">
            <a href="/monthly_plan_bulking_veg_egg" class="text-center">
              <h3>
                  Veg Food with Egg
              </h3>
            </a>
          </div>
          <div class="col-md-4">
            <a href="/monthly_plan_bulking_non_veg" class="text-center">
              <h3>
                  Non Veg Food
              </h3>
            </a>
          </div>
        </div>
                <h3 class="text-center">Veg Food with egg</h3>
            <ul class="tab-group">
                <li class="tab active"><a href="#10_meal">10 Meal</a></li>
                <li class="tab"><a href="#14_meal">14 Meal</a></li>
                <li class="tab"><a href="#21_meal">21 Meal</a></li>
                <li class="tab"><a href="#28_meal">28 Meal</a></li>
                <li class="tab"><a href="#post_workouts">Post workouts</a></li>
            </ul>
          
            <div class="tab-content">
                <div id="10_meal">   
                  <h2 class="text-center">10 Meal Per Week</h2>

                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">

                  <h4 class="text-center">Breakfast</h4>
                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">
                  <h4 class="text-center">Lunch</h4>
                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">
                  <h4 class="text-center">Dinner</h4>           
                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">
              
                </div>

                <div id="14_meal">
                  <h2 class="text-center">14 Meal Per Week</h2>

                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">

                  <h4 class="text-center">Breakfast</h4>
                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">
                  <h4 class="text-center">Lunch</h4>
                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">
                  <h4 class="text-center">Dinner</h4>           
                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">


                </div>

                <div id="21_meal">
                  <h2 class="text-center">21 Meal Per Week</h2>

                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">

                  <h4 class="text-center">Breakfast</h4>
                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">
                  <h4 class="text-center">Lunch</h4>
                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">
                  <h4 class="text-center">Dinner</h4>           
                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">

                </div>

                <div id="28_meal">   
                  <h2 class="text-center">28 Meal Per Week</h2>

                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">

                  <h4 class="text-center">Breakfast</h4>
                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">
                  <h4 class="text-center">Lunch</h4>
                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">
                  <h4 class="text-center">Dinner</h4>           
                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">        
                </div>

                <div id="post_workouts">   
                  <h2 class="text-center">Post workouts</h2>

                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">

                  <h4 class="text-center">Breakfast</h4>
                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">
                  <h4 class="text-center">Lunch</h4>
                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">
                  <h4 class="text-center">Dinner</h4>           
                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">        
                </div>
            </div>

        </div>

        </div>
    </div>
    <!-- CORE JQUERY  -->
    <script src="../static/plugins/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="../static/plugins/bootstrap.js"></script>
    <script src="../static/js/plans.js"></script>
</body>
</html>