<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/png" href="../static/img/favicon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>dytila</title>
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" />
    <!-- VEGAS STYLE CSS -->
    <link href="../static/scripts/vegas/jquery.vegas.min.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="../static/css/style_plan_meal.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Ruluko' rel='stylesheet' type='text/css' />
    <style type="text/css">
        body{
            background-color: #FCDFFF;
        }
    </style>
</head>
<body>


    <!--content Section -->
    <div class="content custom_plan">
        <div class="wrapper">
            <h1 class="text-center" style="margin:0;color:#fff;font-size:60px;"><strong>Custom Meals</strong></h1>
            <hr class="divider" style="margin:0;margin-bottom:30px;">    

            <div class="form">
                    <h1 class="text-center">Veg Food</h1>
                    <ul class="tab-group">
                        <li class="tab active"><a href="#one_meal">1 Meal</a></li>
                        <li class="tab"><a href="#two_meal">2 Meal</a></li>
                        <li class="tab"><a href="#three_meal">3 Meal</a></li>
                        <li class="tab"><a href="#four_meal">4 Meal</a></li>
                    </ul>
                  
                    <div class="tab-content">
                        <div id="one_meal">   
                  <h1 class="text-center">One Meal Per Day</h1>

                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">

                  <h4 class="text-center">Breakfast</h4>
                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">
                  <h4 class="text-center">Lunch</h4>
                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">
                  <h4 class="text-center">Dinner</h4>           
                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">
              
                </div>

                <div id="two_meal">
                  <h1 class="text-center">two Meal Per Day</h1>

                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">

                  <h4 class="text-center">Breakfast</h4>
                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">
                  <h4 class="text-center">Lunch</h4>
                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">
                  <h4 class="text-center">Dinner</h4>           
                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">


                </div>

                <div id="three_meal">
                  <h1 class="text-center">Three Meal Per Day</h1>

                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">

                  <h4 class="text-center">Breakfast</h4>
                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">
                  <h4 class="text-center">Lunch</h4>
                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">
                  <h4 class="text-center">Dinner</h4>           
                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">

                </div>

                <div id="four_meal">   
                  <h1 class="text-center">four Meal Per Day</h1>

                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">

                  <h4 class="text-center">Breakfast</h4>
                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">
                  <h4 class="text-center">Lunch</h4>
                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">
                  <h4 class="text-center">Dinner</h4>           
                  <hr class="divider" style="margin-top:30px;margin-bottom:30px;">        
                </div>
                    </div>

            </div>

            </div>
        </div>        
    <!-- CORE JQUERY  -->
    <script src="../static/plugins/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="../static/plugins/bootstrap.js"></script>
    <script src="../static/js/plans.js"></script>
</body>
</html>