<!DOCTYPE html>
<html >
  <head>
    <link rel="icon" type="image/png" href="../static/img/favicon.png">
    <meta charset="UTF-8">
    <title>Macros</title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ruluko' rel='stylesheet' type='text/css' />
    <link href="../../static/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../static/css/style_forms.css">
  </head>

  <body>
    <div class="form">
    <a href="/"><label>Home</label></a>
      <ul class="tab-group">
        <li class="tab active" id="step1"><a href="#one_meal">Step 1</a></li>
        <li class="tab" id="step2"><a href="#two_meal">Step 2</a></li>
      </ul>
      
      <div class="tab-content">
        <div id="one_meal">   
          <hr class="divider" style="margin-top:30px;margin-bottom:30px;">

          <h2 class="text-center">Let us calculate your macros...</h2>

          <hr class="divider" style="margin-top:30px;margin-bottom:30px;">

          <div class="macro_form">
          <!-- Start Form -->
            
                <div class="form-group">
                  <label for="weight">Weight (KGs) :</label>
                  <input type="text" name="weight" class="form-control" id="weight" placeholder="type here...">
                </div>
                <div class="form-group">
                  <label for="body_per">Body Fat Percentage (%) :</label>
                  <a href="/faq" class="help">Help?</a>
                  <input type="text" name="bfp" class="form-control" id="bfp" placeholder="type here...">
                </div><br>
                <div class="select_active">
                  <select id="active_level" name="active_level">
                    <option selected disabled>Select your active level</option>
                    <option value="Sedentary (little or no exercise)">Sedentary (little or no exercise)</option>
                    <option value="Lightly active (training/ sports 2-3 days/weeks)">Lightly active (training/ sports 2-3 days/weeks)</option>
                    <option value="Moderately active (training/ sports 6-7 days/weeks)">Moderately active (training/ sports 6-7 days/weeks)</option>
                    <option value="Very active (training/ sports 6-7 days a week)">Very active (training/ sports 6-7 days a week)</option>
                    <option value="Extremely active (training/sports and physical job)">Extremely active (training/sports and physical job)</option>
                  </select>
                </div><br>
                <div class="form-group">
                  <label for="pm_value">Plus Minus value :</label>
                  <a href="/faq" class="help">Help?</a>
                  <input type="text" name="pm_value" class="form-control" id="pm_value" placeholder="type here...">
                </div><br>
                <div class="form-group">
                  <select id="way" name="way">
                    <option selected disabled>Select your way</option>
                    <option value="Bulking">Bulking</option>
                    <option value="Shredding">Shredding</option>
                  </select>
                </div>
                <center><a href="#two_meal" class="btn btn-success" name="submit" id="submit">Submit</a></center>
          
          <!-- End Form -->
          </div>
      
        </div>

        <div id="two_meal">
          <hr class="divider" style="margin-top:30px;margin-bottom:30px;">

          <div id="show_area">
                
          </div>
          <div id="read_area">
            <h2 class="text-center">Your macros are almost ready...</h2><br><br>
            <div class="row macro_form">
                <center>
                <a href="/monthly_pan/view"><button type="submit" class="btn btn-success btn-lg" id="submit">Checkout our Meal Plans Now.</button></a>              
                <br><br>
                <button class="btn btn-danger btn-lg" id="submit" onclick="cal()">No, give me my macros!</button>
                </center>
          </div>  
          </div>
          <hr class="divider" style="margin-top:30px;margin-bottom:30px;">
        </div>
      </div><!-- tab-content -->
      
</div> <!-- /form -->
    <script src='js/jquery.min.js'></script>

        <script src="js/index.js"></script>

     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../static/plugins/jquery.min.js">
    </script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../static/plugins/bootstrap.js"></script>
    <script type="text/javascript">
      $('#submit').on('click',function(){
        $("#step1").removeClass("active");
        $("#step2").addClass("active");

        target=$(this).attr('href');

        $('.tab-content > div').not(target).hide();
        
        $('#show_area').append("<center><img src='../../static/img/loading2.gif' class='loading_gif'><br>your macros are being calculated...</center>").delay(2500).fadeOut(500);

        $(target).fadeIn(600);

        $('#read_area').delay(3000).fadeIn(500);
      });
      function cal(){

        //function to calculate macros
        var w=document.getElementById("weight").value;
        var bfp=document.getElementById("bfp").value;

        var lean_mass=(1-bfp/100)*w;
        var bmr=370+(21.6*lean_mass);

        var x=document.getElementById("active_level").selectedIndex;
        var tdee=0;
        switch(x){
          case 1:
                  tdee=bmr*1.2;
                  break;
          case 2:
                  tdee=bmr*1.375;
                  break;
          case 3: 
                  tdee=bmr*1.55;
                  break;
          case 4:
                  tdee=bmr*1.725;
                  break;
          case 5:
                  tdee=bmr*1.9;
                  break;
          default:
                  alert("wrong active_level option selected!");
                  break;
        }

        var level=document.getElementsByTagName("option")[x].value;
        var pm_value=document.getElementById("pm_value").value;
        x=document.getElementById("way").selectedIndex;

        switch(x){
          case 1:
                alert("Plus value : "+(tdee+440*pm_value)+" calories\nMinus value : "+(tdee-440*pm_value)+"calories\nProtein = "+lean_mass*2.2+" grams");
                break;
          case 2:
                alert("Plus value : "+(tdee+440*pm_value)+" calories\nMinus value : "+(tdee-440*pm_value)+"calories\nProtein = "+lean_mass*3.1+" grams");
                break;
          default:
                alert("Wrong 'your way' option selected!");
                break;
        }
        var way=document.getElementsByTagName("option")[x].value;
    }
    </script>
  </body>
</html>
