<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Meal specification</title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ruluko' rel='stylesheet' type='text/css' />
    <link href="../../static/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../static/css/style_forms.css">
  </head>

  <body>
    
    <div class="meal_form">
      <a href="/"><label>Home</label></a>
      <ul class="tab-group">
        <li class="tab active" id="step1"><a href="#one_meal">Step 1</a></li>
        <li class="tab" id="step2"><a href="#two_meal">Step 2</a></li>
        <li class="tab" id="step3"><a href="#three_meal">Step 3</a></li>
      </ul>
      
      <div class="tab-content">
        <div id="one_meal">   

        <hr class="divider" style="margin-top:30px;margin-bottom:30px;">

          <h2 class="text-center">dytila is here to help you :)</h2>

          <hr class="divider" style="margin-top:30px;margin-bottom:30px;">

          <div class="macro_form">
            <form role="form">
              <table>
                <tbody>
                  <tr>
                    <td class="que"><label>The Way you have chosen : </label></td>
                    <td class="ans"></td>
                    <td class="ans"><input type="text" name="gym_type" id="gym_type" disabled></td>
                  </tr>
                  <tr>
                    <td class="que"><label>Which Food type are you ? </label></td>
                    <td class="ans">
                      <label><input type="radio" name="food_type" id="veg">veg</label>
                    </td>
                    <td class="ans">
                      <label><input type="radio" name="food_type" id="veg_egg">veg with egg</label>
                    </td>
                    <td class="ans">
                      <label><input type="radio" name="food_type" id="non_veg">non veg</label>
                    </td>
                  </tr>
                  <tr>
                    <td class="que"><label>Do you take Supplements ?<br> (Protein / Mass Gainer) : </label></td>
                    <td class="ans">
                      <label><input type="radio" name="yes_no" id="yes">Yes</label>
                    </td>
                    <td class="ans">
                      <label><input type="radio" name="yes_no" id="no">No</label>
                    </td>
                  </tr>
                </tbody>
              </table>
              <hr class="divider" style="margin-top:30px;margin-bottom:30px;">
              <center><a href="#two_meal" class="btn btn-default" id="submit">Submit</a></center>
          </form>
          </div>
      
        </div>

        <div id="two_meal">

        <hr class="divider" style="margin-top:30px;margin-bottom:30px;">

          <h2 class="text-center">Tell us more about your supplement</h2>

          <hr class="divider" style="margin-top:30px;margin-bottom:30px;">

          <div class="macro_form">
            <table>
              <tbody>
                <tr>
                  <td class="que"><label>Brand : </label></td>
                  <td class="ans">
                    <select>
                      <option selected disabled>Select Brand</option>
                      <option>Optimum Nutrition</option>
                      <option>Muscle Blaze</option>
                      <option>Dynamik Muscle</option>
                      <option>1 Up Nutrition</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td class="que"><label>Select scoop size (grams) : </label></td>
                  <td class="ans">
                    <select>
                      <option selected disabled>Select Scoop size</option>
                      <option>20</option>
                      <option>25</option>
                      <option>33</option>
                      <option>40</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td class="que"><label>Scoops per day : </label></td>
                  <td class="ans">
                    <select>
                      <option selected disabled>Select Scoop</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </td>
                </tr>
              </tbody>
            </table>  
            <hr class="divider" style="margin-top:30px;margin-bottom:30px;">
              <center><a href="#three_meal" class="btn btn-default" id="submit1">Submit</a></center>
          </div>  
        </div>

        <div id="three_meal">

        <hr class="divider" style="margin-top:30px;margin-bottom:30px;">

          <h2 class="text-center head_step3">We are collecting your info...</h2>
          <div id="show_area"></div>
          <div id="read_area"></div>

        </div>
</div> <!-- /form -->
    <script src='js/jquery.min.js'></script>
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script src="../../static/plugins/jquery.min.js">
    </script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../static/plugins/bootstrap.js"></script>
    <script type="text/javascript">
        if(window.location.href.indexOf("bulking") > -1) 
            {
                 $("#gym_type").val("bulking");
            }
        else if(window.location.href.indexOf("shredding") > -1) 
            {
                 $("#gym_type").val("shredding");
            }
        else if(window.location.href.indexOf("fat_loss") > -1) 
            {
                 $("#gym_type").val("fat loss");
            }
    </script>
     <script type="text/javascript">
      $('#submit').on('click',function(){
        $("#step1").removeClass("active");
        $("#step2").addClass("active");

        target=$(this).attr('href');

        $('.tab-content > div').not(target).hide();
        $(target).fadeIn(600);

      });
      $('#submit1').on('click',function(){
        $("#step2").removeClass("active");
        $("#step3").addClass("active");

        target=$(this).attr('href');

        $('#show_area').append("<center><img src='../../static/img/loading2.gif' class='loading_gif'></center>")
          .delay(4000)
            .fadeOut(500);
        $(".head_step3").delay(4000).fadeOut(500);

        var text="<h2 class='text-center'>We got the required information!</h2><center><hr class='divider' style='margin-top:30px;margin-bottom:30px;''><a href='#three_meal' class='btn btn-success btn-lg' id='submit2' onclick='go()'>Check out your Plan</a></center>";

        $('#read_area').append(text).delay(4000).fadeIn(1000);

        $('.tab-content > div').not(target).hide();
        $(target).fadeIn(600);
      });
    </script>
    <script type="text/javascript">
      function go(){
        if(document.getElementById("gym_type").value=="bulking")
          window.location="/monthly_plan_bulking";
        else if(document.getElementById("gym_type").value=="shredding")
          window.location="/monthly_plan_shredding";
        else if(document.getElementById("gym_type").value=="fat loss")
          window.location="/monthly_plan_fat_loss";
      }
    </script>
    
  </body>
</html>
