<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="../static/img/favicon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>dytila</title>
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" />
    <!-- VEGAS STYLE CSS -->
    <link href="../static/scripts/vegas/jquery.vegas.min.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="../static/css/style_plan_meal.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Ruluko' rel='stylesheet' type='text/css' />
    <style type="text/css">
        body{
            background-color: #FCDFFF;
        }
    </style>
</head>
<body>
    <!-- Navigation -->
    <div id="navbar">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Dytila <span class="beta">BETA</span></a>
            </div>
            <!-- Collect the nav links for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">E-mail:  dytila_nutrition@gmail.com</a></li>
                    {% if result['loggedIn'] %}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ result['user']['full_name']+" "+result['user']["last_name"] }}<span class="caret"></span></a>
                      <ul class="dropdown-menu" id="dropdown-menu">
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/recent_orders">Your orders</a></li>
                        <!-- <li><a href="/cart">Cart</a></li>
                        <li><a href="/chat_with_dietitian">Chat with Dietitian</a></li> -->
                        <li role="separator" class="divider"></li>
                        <li><a href="/auth/logout">Logout</a></li>
                      </ul>
                    </li>
                    {% end %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    </div>
    <!--End Navigation -->

    <!--content Section -->
    <div class="content mplans">
      <hr class="divider" style="margin-top:10px;margin-bottom:10px;">
        <h1 class="text-center" style="margin-top:40px;">Choose Your Way</h1>
        <hr class="divider" style="margin-top:40px;margin-bottom:30px;">

        <div class="plan_wrapper">
             <div class="row">
                    <div class="col-md-5">
                        <img class="pull-right bulking_img" src="../static/img/bulking_.jpg">
                    </div>
                    <div class="col-md-7">
                      <h1>Bulking</h1>
                      <p>Bodybuilding is one of the best things that you can do for yourself. Bodybuilding is a hobby or sport, but it’s also a way of life that will impact everything you do and every aspect of yourself as a person. Think that sounds like an exaggeration? It is when people talk about golf or football, but with bodybuilding it’s genuinely true – if only for the fact that no other sport changes the way you look so drastically, the way you feel or what you’re capable of.</p>
                      <p>Bodybuilding is much like any other sport. To be successfull, you must dedicate yourself 100% to you training, Diet and mental approach.</p>
                      <a href="/monthly_plan_bulking" class="btn btn-success" role="button">View</a>
                      <!-- <form action="/plan_form" method="post"> -->
                      <input type="submit" name="bulking" class="btn btn-default pull-right" id="bulking" role="button" value="Get this Plan" onclick="go(this)">
                      <!-- </form> -->
                    </div>
            </div>

                      <hr class="divider">          


            <div class="row">
                    <div class="col-md-7">
                      <h1>Shredding</h1>
                      <p>Calisthenics are exercises consisting of a variety of gross motor movements; often rhythmical and generally without equipment or apparatus. They are, in essence, body-weight training. They are intended to increase body strength, body fitness, and flexibility, through movements such as pulling or pushing oneself up, bending, jumping, or swinging, using only one's body weight for resistance; usually conducted in concert with stretches. </p>
                      <p>
                        Embrace and love your body, its the most amazing thing you will ever own.<br>-Frank Medrano 
                      </p>
                      <a href="/monthly_plan_shredding" class="btn btn-success" role="button">View</a>
                      <input type="submit" name="bulking" class="btn btn-default pull-right" id="shredding" role="button" value="Get this Plan" onclick="go(this)">
                    </div>
                    <div class="col-md-5">
                        <img class="pull-right shredding_img" src="../static/img/shredding_wall.jpg" >
                    </div>
            </div>


                    <hr class="divider">    

             <div class="row">
                    <div class="col-md-5">
                        <img class="fat_loss_img" src="../static/img/fat_loss_.jpg" >
                    </div>
                    <div class="col-md-7">
                      <h1>Fat loss</h1>
                      <p>
                        The art of practicing yoga helps in controlling an individual's mind, body and soul. It brings together physical and mental disciplines to achieve a peaceful body and mind; it helps manage stress and anxiety and keeps you relaxing. It also helps in increasing flexibility, muscle strength and body tone. It improves respiration, energy and vitality. Practicing yoga might seem like just stretching, but it can do much more for your body from the way you feel, look and move
                      </p>
                      <a href="/monthly_plan_fat_loss" class="btn btn-success" role="button">View</a>
                      <input type="submit" name="bulking" class="btn btn-default pull-right" id="fat_loss" role="button" value="Get this Plan" onclick="go(this)">
                    </div>
            </div>

        </div>
        <hr class="divider" style="margin-top:60px;margin-bottom:60px;">
        <h1 class="text-center">dytila helps you to design your meal according to you!</h1>
        <hr class="divider" style="margin:0;margin-top:60px;padding-bottom:60px;">
    </div>

     <!--footer Section -->
    <div class="for-full-back" id="footer">
        <h4 style="margin:0;padding:0;" class="text-center">&copy; 2016 dytila | All Right Reserved</h4>
         
    </div>
    <!--End footer Section -->
            
    <!-- CORE JQUERY  -->
    <script src="../static/plugins/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="../static/plugins/bootstrap.js"></script>
    <script type="text/javascript">
     function go(x){
        if(x.id=="bulking")
          window.location="/plan_form?gym_type=bulking";
        else if(x.id=="shredding")
          window.location="/plan_form?gym_type=shredding";
        else if(x.id=="fat_loss")
          window.location="/plan_form?gym_type=fat_loss";
      }
    </script>
</body>
</html>